:root {
  /* PRIMARY COLORS */

  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  /* NEUTRAL COLORS */

  --white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --verylightgray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--verylightgray);
  font-size: 1.5rem;
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  width: 100rem;
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  border-radius: 10px;
  height: 50rem;
}

.sedans {
  background-color: var(--Bright-orange);
  padding: 5rem;
}

.suvs {
  background-color: var(--Dark-cyan);
  padding: 5rem;
}

.luxury {
  background-color: var(--Very-dark-cyan);
  padding: 5rem;
}

h2 {
  text-transform: uppercase;
  color: var(--verylightgray);
  font-family: "Big Shoulders Display", cursive;
  font-size: 4rem;
  margin: 3rem 0;
}

p {
  color: var(--white-paragraphs);
  margin-bottom: 8rem;
  line-height: 1.7;
}

.btn {
  display: inline-block;
  background-color: var(--verylightgray);
  padding: 1.2rem 3.4rem;
  border-radius: 50px;
  text-transform: capitalize;
}

.btn1 {
  color: var(--Bright-orange);
}

.btn2 {
  color: var(--Dark-cyan);
}

.btn3 {
  color: var(--Very-dark-cyan);
}

.attribution {
  margin-top: 10rem;
}
